@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626336759543') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mokuaiguanli:before {
  content: "\e6e4";
}

.icon-wodexiaoxi:before {
  content: "\e6dd";
}

.icon-duigou-quan:before {
  content: "\e60a";
}

.icon-bumen:before {
  content: "\e66c";
}

.icon-liuchengzhongxin:before {
  content: "\e928";
}

.icon-jiekou:before {
  content: "\e65a";
}

.icon-zidian:before {
  content: "\e604";
}

.icon-xiaoxirizhi:before {
  content: "\e64e";
}

.icon-dingshirenwu:before {
  content: "\e64b";
}

.icon-guanli:before {
  content: "\e50b";
}

.icon-liucheng:before {
  content: "\e800";
}

.icon-23yichuliliucheng:before {
  content: "\e6b2";
}

.icon-xitongrizhi:before {
  content: "\e612";
}

.icon-jiaose:before {
  content: "\e609";
}

.icon-shujuquanxian:before {
  content: "\e7a3";
}

.icon-wodeliucheng:before {
  content: "\e6d6";
}

.icon-cangchuzhongxin:before {
  content: "\e603";
}

.icon-yonghu:before {
  content: "\e6f1";
}

.icon-biaodan:before {
  content: "\e63c";
}

